* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url(./img/bg_morning.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo img {
  width: 100px;
  margin-left: 50px;
  position: absolute;
}

.logow {
  display: none;
}

ul {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  margin-right: 150px;
  font-size: 16px;
  margin-top: 50px;
}

main {
  position: relative;
}

.font-item a {
  font-weight: 400;
}

.font-item a::after {
  display: block;
  content: '';
  border: 1px solid black;
  transition: all 400ms ease-in-out;
  scale: 0%;
}

.font-item a:hover::after {
  display: block;
  content: '';
  border: 1px solid black;
  scale: 100%;
  margin-top: 4px;
}

.title,
.sub {
  position: absolute;
  left: 200px;
}

.font {
  color: #000;
}

.title {
  font-weight: 700;
  font-size: 50px;
  top: 180px;
}

span {
  font-weight: 400;
  margin-left: 10px;
  color: rgb(129, 129, 129);
}

.sub {
  font-weight: 400;
  font-size: 18px;
  top: 250px;
}

.clock {
  color: #000;
}

#clock-box {
  width: 1000px;
  height: 700px;
  background-image: url(./img/phone_morning.png);
  background-repeat: no-repeat;
  float: right;
  margin-top: 100px;
}

.clock-list {
  position: absolute;
  top: 250px;
  left: 1100px;
  font-weight: 400;
  font-size: 70px;
  width: 400px;
  justify-content: space-between;
}

.btn-list {
  width: 1700px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

button {
  margin: 0 auto;
  width: 420px;
  padding: 10px;
  border: none;
  opacity: 0.6;
  font-size: 15px;
  margin-top: -50px;
  z-index: 100;
}

button:active {
  background-color: #000;
  color: #fff;
  opacity: 1;
}

#cloud-wrapper > img:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .8;
	animation: ani1 100s linear infinite;
	z-index: 100;
}

#cloud-wrapper > img:nth-child(2) {
	position: absolute;
	top: 20px;
	left: 0;
	opacity: .8;
	animation: ani2 100s linear infinite;
	z-index: 100;
}

@keyframes ani1 {
	0% {
		left: -100vw;
	}
	100% {
		left: 100vw;
	}
}

@keyframes ani2 {
	0% {
		left: 0;
	}
	50% {
		left: 1960px;
		opacity: 0;
	}
	60% {
		left: -1840px;
		opacity: 0.8;
	}
	100%{
		left: 0;
	}
}





